*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
header{
    height: 15%;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 6px #00000020;

    background-color: #0083b0;
    color: wheat;
    

}
nav{
    width: 100%;
    height: 10%;
    background-color:#2c3e50 ;
}
li{
    display: inline-block;
    margin: 15px;
    text-align: center;
    width: 100px;
}
a{
    text-decoration: none;
    display: inline;
    border: 2px dotted ;
    border-radius: 10px;
    color:wheat ;
    display: block;
}
a:hover{
    border: 2px solid;
    color: black;
    background-color: #ecf0f1;

}
section{
    width: 75%;
    height:65% ;
    float: left;
    background-color: wheat ;
    border-radius: 15px;
    box-shadow: 0px 8px 16px #00000033 ;


}
iframe{
    width:100% ;
    height: 100%;

}
aside{
    width: 25%;
    height: 65%;
    float: left;
    background-color: #2c3e50;
    border-radius: 15px;
    text-align: center;

}
#desc{
    background-color:#007bffe6 ;

}
input[type="button"]{
    background-color: #27ae60;
    margin: 10px;
    width: 80px;
    padding: 5px 10px ;
}
video{
    width: 90%;
}
footer{
    width: 100%;
    height: 10%;
    background-color: #34495e;
    position: relative;
    clear: both;
    
    
    


}
span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
#bd2 {
    font-family: Arial, sans-serif;
    background-color: #0f4525;
}

h2 {
    text-align: center;
}

form {
    background-color: rgb(126, 182, 126);
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    margin: 0 auto;/* auto travaille juste sur à droite  et à gauche
                        0 ne fait aucune modification*/
    box-shadow: 0px 10px 25px #888888;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#cd {   
    background-color: #f0f0f0;
    font-size: 22px;
    font-weight: bold;
  
    text-decoration: line-through;
    text-align: center;
    width: 70%;
}

#refresh {
    width: 15%;
    font-size: 18px;
    border-radius: 5px;
   
}

#valider {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
}

#valider:hover {
    background-color: #0056b3;
}